%%-*- mode: erlang -*-
%% ex: ft=erlang
% uncomment if appropriate
%{deps_dir, "deps"}.

{sub_dirs, ["rel"]}.

{deps, [
    {covertool, "", {git, "https://github.com/idubrov/covertool.git", {branch, master}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, master}}},
    {hackney, "", {git, "https://github.com/benoitc/hackney.git", {branch, master}}},
    {unicode_util_compat, "", {git, "https://github.com/benoitc/unicode_util_compat.git", {branch, master}}}
]}.

{plugins, [rebar_covertool]}.

{pre_hooks, [{clean, "rm -rf ebin test/*.beam dialyzer.output .eunit erl_crash.dump logs/* *.log *.coverage.xml"}]}.
{post_hooks, [{'delete-deps', "rm -rf deps .dialyzer_deps_plt"}]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{ct_extra_params, "-ct_hooks cth_surefire -erl_args -config erl.config"}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
{covertool_eunit, {".eunit/cover.coverdata", "eunit.coverage.xml"}}.
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}.
{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
